.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.menuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--text-over-primary);
  text-decoration: none;
  gap: 0.5rem;
  transition: all 200ms ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(70%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
