.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.responsiveTable table {
  width: 100%;
  min-width: 64rem;
  font-size: 1.6rem;
  border-collapse: collapse;
}

.responsiveTable th {
  background-color: var(--gray-600);
}

.responsiveTable td {
  background-color: var(--gray-800);
}

.responsiveTable th,
.responsiveTable td {
  border-bottom: 0.2rem solid var(--gray-700);
  text-align: left;
  padding: 1.6rem;
}

.thSort {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.thSort:hover {
  filter: brightness(80%);
}

.noTasksMessage {
  color: var(--gray-300);
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.dropDownRow {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.dropDownRow label {
  margin: 1rem 0 0.5rem 0;
  font-style: italic;
  font-size: 1.6rem;
  color: var(--text-muted);
}

.dropDownRow select {
  max-width: 4rem;
  background: var(--gray-500);
  color: var(--text-default);
  border-radius: 0.4rem;
}
