.footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.4rem;
}

.footer a {
  color: var(--text-muted);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
